<aside class="space-left" th:fragment="sidebar">
    <section class="space-box">
        <h1 th:text="${space.name}">Space name</h1>
        <p th:text="${space.description}">Space description</p>
    </section>

    <section class="channels-box">
        <h2>Channels</h2>

        <div class="channels-list">
            <label class="channel-item"
                   th:each="channel : ${channels}"
                   th:classappend="${selectedChannel != null and channel.id == selectedChannel.id} ? 'active' : ''">
                <input type="radio"
                       name="channel"
                       th:checked="${selectedChannel != null and channel.id == selectedChannel.id}"
                       th:data-url="@{/spaces/{spaceId}(spaceId=${space.id}, channelId=${channel.id})}">
                <span th:text="'# ' + ${channel.name}"># general</span>
            </label>
        </div>
    </section>

    <section class="add-channel-box" th:if="${canManageChannels}">
        <h2>Add channel</h2>

        <form method="post" th:action="@{/spaces/{id}/channels(id=${space.id})}" class="small-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="text" name="name" placeholder="channel name" required>
            <button type="submit">+</button>
        </form>
    </section>


</aside>